a {
    text-decoration: none;
}

li {
    list-style:none
}

body {
    font-family: "Century Gothic";
    font-size: 1.2rem;
}

header {
    font-size: 1.2rem;
    box-shadow: 0 5px 15px 0 rgba(100, 100, 100, .3);
}

main {
    box-shadow: 0 5px 5px 0 rgba(200, 200, 200, .3);
}

footer {
    font-size: 0.8rem;
    text-align: center;
}

h1 {
    border-bottom: 1px solid #bbb;
    margin-bottom: 1rem;
    padding-bottom: 0.4rem;
}

.sidebar-col {
    border-top: 1px solid #bbb;
}

.sidebar_links {
    font-size: 0.88rem;
    box-shadow: 0 5px 15px 0 rgba(100, 100, 100, .3);
}

.sidebar_links a {
    display: block;
}

.quize-select {
    display:flex;
    align-items: center;
}

.btn, .select-btn {
    box-shadow: 0 5px 15px 0 rgba(100, 100, 100, .3);
}

.prev_next_btns {
    display: flex;
    justify-content: center;
}

.prev_next_btns li {
    margin-right: 1.3rem;
}

.bottom_nav {
    display: flex;
    justify-content: center;
}

.bottom_nav li {
    padding: 0 40px;
}

.fadeout {
    animation: fadein-keyframes 1s ease 0s 1 forwards;
  }

  @keyframes fadein-keyframes {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
}

#checkAnswer {
    display: inline-block;
    margin-left: 20px;
    font-size: 2rem;
}